# ignore all files in any directory named testdata
testdata/
gaze_detection_model.h5
cv_env/
.DS_Store
cvfored_env/
output_frames/
test_videos/
val_videos/
videos

output_frames/
output_faces/
to_train/
test_faces/
valid_vids/
env/
valid_faces/
model.keras
__pycache__/
*.MOV
*.jpg
*.keras