<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detecting Distraction</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <!-- styling inspired by Daniel Habib https://codingcss.medium.com/file-upload-with-progress-bar-html-css-javascript-8a21677431bd -->
    </head>
    <body class="index-body">
        <div class="body-container">
            <h1>Detecting Distraction</h1>
            
            <form id="upload" action="/upload" method="post" enctype="multipart/form-data">
                <div class="upload-container">
                <input type="file" name="file-input" id="file-input" hidden>
                <i class="fas fa-regular fa-upload"></i>
                <p>Choose a file or drag & drop it here</p>
                <p class="file-constraints">MP4 and MOV formats up to 50MB</p>
                <button class="browse" type="button">Browse File</button>
                <section class="uploaded-section"></section>
            </div>

                <button class="button-results" type="submit">Start Analysis!</button>
            </form>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            const uploadForm = document.querySelector("#upload");
            const fileInput = document.querySelector("#file-input");
            const browseButton = document.querySelector("button");

            browseButton.addEventListener("click", () => {
                fileInput.click();
            });

            uploadForm.addEventListener("dragover", (e) => {
                e.preventDefault();
                uploadForm.classList.add("dragover");
            });

            uploadForm.addEventListener("dragleave", () => {
                uploadForm.classList.remove("dragover");
            });

            uploadForm.addEventListener("drop", (e) => {
                e.preventDefault();
                uploadForm.classList.remove("dragover");
                const file = e.dataTransfer.files[0];
                handleFile(file);
            });

            uploadForm.addEventListener("change", () => {
                const file = fileInput.files[0];
                handleFile(file);
            });

            function handleFile(file) {

                console.log("File uploaded: ", file.name);

                let fileSize;
                if (file.size < 1024) {
                    fileSize = `${file.size} B`;
                } else if (file.size < 1024 * 1024) {
                    fileSize = `${(file.size / 1024).toFixed(2)} KB`;
                } else {
                    fileSize = `${(file.size / (1024 * 1024)).toFixed(2)} MB`;
                }


                const uploadedSection = document.querySelector(".uploaded-section");
                uploadedSection.innerHTML = "";

                const uploadedHTML = `
                    <div class="uploaded-file">
                        <i class="fas fa-regular fa-file"></i>
                        <div class="details">
                            <p>${file.name}</p>
                            <p>${fileSize}</p>
                    </div>
                `;
                uploadedSection.insertAdjacentHTML('beforeend', uploadedHTML); // Adds the HTML string to the end of the section

                
            }


        })
    </script>
</html>